.pexels-photo-by-chevanon-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 802px;
  height: 1117px;
  object-fit: cover;
}
.reset-password {
  position: relative;
}
.emoji-smiling-face {
  position: relative;
  width: 48px;
  height: 46.26px;
}
.reset-password-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xl);
}
.enter-your-new {
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  color: var(--color-dimgray);
}
.frame-parent49 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-base);
}
.frame-child20,
.frame-child21 {
  border: 0;
  font-weight: 500;
  font-family: var(--font-urbanist);
  font-size: var(--font-size-xl);
  background-color: transparent;
  border-bottom: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 549px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xl) var(--padding-xs);
  align-items: flex-start;
  justify-content: space-between;
}
.frame-child21 {
  align-items: center;
}
.frame-parent50 {
  gap: var(--gap-13xl);
}
.frame-parent48,
.frame-parent50,
.frame-wrapper1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent48 {
  justify-content: center;
  gap: var(--gap-45xl);
}
.reset-password1 {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-urbanist);
  color: var(--component-color-bacground);
  text-align: left;
}
.reset-password-wrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xl) var(--padding-21xl);
  background-color: var(--color-royalblue-100);
  border-radius: var(--br-26xl);
  width: 549px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.frame-parent47 {
  position: absolute;
  top: 142px;
  left: 961px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-45xl);
}
.forgot-password {
  position: relative;
  background-color: var(--component-color-bacground);
  width: 100%;
  height: 1117px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  font-family: var(--font-urbanist);
}
